{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do and who I am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>💼Full-Time Engineer--Programming Novice 💻 </p>
        <p>Strong passion for programming languages, i.e. Python, SQL, R and mastering data analytic tools.Exploring career opportunity in data analytics field.</p>
        <p>Started learning Python Programming since 2021 because I aspire to switch career as a data engineer. Over time, I have accumulated knowledge about Python, SQL and R programming, especially pandas, turtle, tkinter, matplotlib, API requests packages as well as HTML, CSS</p>
        <p>Chemical Engineering Graduate. 4.5-years industrial experience. Specializes in water & wastewater treatment process design and control. Excelled in project management and led process start-up, commissioning activities, SAT, operation training as well as system handover to end-user</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}